ul{
  display: flex;
  list-style: none;
  background-color: rgb(227, 227, 240);
  padding: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
ul li{
  margin: 0 1em;
  font-size: 1.8rem;
  color: brown;

}
a{
  text-decoration: none;
}